* {
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Helvetica, sans-serif;
    background-color: white;
    color: black;
    border: black solid 5px;
    margin: 0;
    padding: 0;
    width: 900px;
}
header{
    border: black solid 2px;
    margin: 1px;
    background-color: rgba(211, 211, 211, 1);
}

header h1{
    font-size: 35px;
    color:  black;
    font-weight: bolder;
    margin: 0;
    padding: 0 0 30px 0;
}
.content{
    width: 890px;
    height: 250px;
    margin: 0;
    padding: 0;
}
section{
    float: left;
    width: 150px;
    background-color: rgba(238, 232, 170, 1);
    border: black solid 2px;
    margin: 1px;
    height: 250px;
}
 section .menu h2{
     font-weight: bold;
     margin: 0;
     padding: 0;
 }
section .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section .menu ul a{
    text-decoration: none;
    color: black;
}

article{
    float: right;
    width: 736px;
    height: 250px;
    border: black solid 2px;
    margin: 1px;
    padding: 0;
}

article p{
    margin: 0;
    padding: 5px;
    width: fit-content;
}
.footer{
    background-color: rgba(169, 169, 169, 1);
    text-align: center;
    border: black solid 1px;
    margin: 2px;
    padding: 0;
    height: max-content;
}
.footer p{
    margin: 0;
    padding: 0;

}
